.article {
  @include grid;

  &__title {
    grid-column: span 2;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-laptop {
      grid-column: span 5;
    }
  }

  &__text {
    grid-column: span 2;
    margin: 0;
    font-weight: $font-weight-medium;
    font-size: 23px;
    line-height: $line-height-loose;
    letter-spacing: $letter-spacing-none;

    @include on-tablet {
      grid-column: span 3;
    }

    @include on-laptop {
      grid-column: span 5;
    }
  }
}
