.benefits {
  @include grid;

  &__title--section {
    grid-column: 1 / -1;
  }

  &__info-card {
    grid-column: 1 / -1;
    margin-bottom: var(--card-gap);
  }

  &__button {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
    }

    @include on-laptop {
      grid-column: 5 / -5;
    }
  }
}
