.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100%;

  &--primary {
    color: $font-color-dark;
    background-color: $btn-bg;
    height: var(--btn-primary-height);
    border-radius: $border-radius-lg;
    font-weight: $font-weight-bold;
    font-size: var(--fs-md);
    line-height: $line-height-btn;
    letter-spacing: $letter-spacing-none;

    @include on-laptop {
      &:hover {
        box-shadow: 1px 4px 16px 0 #e8e8f066;
      }

      &:active {
        box-shadow: 1px 4px 16px 0 #e8e8f0a3;
      }
    }
  }
}
