.contact-us {
  @include grid;

  &__title--section {
    grid-column: 1 / -1;
  }

  &__form {
    margin-bottom: 48px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 1 / 4;
      margin-bottom: 0;
    }

    @include on-laptop {
      grid-column: 1 / 6;
    }
  }

  &__contacts {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 4 / -1;
    }

    @include on-laptop {
      grid-column: 8 / -1;
    }
  }
}
