.contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__info {
    text-decoration: none;
    color: inherit;
    font-weight: $font-weight-medium;
    font-size: var(--fs-md);
    line-height: $line-height-loose;
    letter-spacing: $letter-spacing-none;

    @include on-laptop {
      &:hover {
        color: $font-color-light-hover;
      }
    }
  }
}
