.container {
  --padding-inline: 20px;

  box-sizing: border-box;
  margin-inline: auto;
  max-width: $on-mobile;
  padding-inline: var(--padding-inline);

  @include on-tablet {
    --padding-inline: 72px;

    max-width: $on-tablet;
  }

  @include on-laptop {
    --padding-inline: 120px;

    max-width: $on-laptop;
  }
}
