.footer {
  position: sticky;
  z-index: -1;
  bottom: 0;

  &__bg {
    height: 200px;
    background-image: url('../images/footer/footer-img-mb.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include on-tablet {
      height: 480px;
    }

    @include on-laptop {
      background-image: url('../images/footer/footer-img.png');
      height: 555px;
    }
  }
}
