.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    font-family: $font-family-base;
    background-color: $input-bg;
    border: none;
    outline: none;
    padding-inline: 16px;
    padding-block: 14px;
    font-weight: $font-weight-regular;
    font-size: var(--fs-sm);
    line-height: $line-height-input;
    letter-spacing: $letter-spacing-none;

    &::placeholder {
      color: $font-color-placeholder;
    }

    @include on-laptop {
      &:hover::placeholder {
        color: $font-color-input;
      }
    }
  }

  &__input {
    border-radius: $border-radius-lg;
  }

  &__textarea {
    border-radius: $border-radius-md;
    min-height: 148px;
    resize: none;
  }
}
