.header {
  background-image: url('../images/header-bg/header-bg-mb.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right bottom;

  @include on-tablet {
    background-position: center;
  }

  @include on-laptop {
    background-image: url('../images/header-bg/header-bg-lp.png');
  }

  &__content {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__bottom {
    align-self: center;
    margin-bottom: var(--block-gap);
  }
}
