.icon {
  width: var(--icon-size-md);
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: contain;

  &--button {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
  }

  &--close {
    background-image: url('../images/icons/icon-close.png');
  }

  &--phone {
    background-image: url('../images/icons/icon-phone.png');
  }

  &--burger-menu {
    background-image: url('../images/icons/icon-burger-menu.png');
  }
}
