.icon {
  height: 24px;
  width: 24px;
  display: block;
}

.icon--phone {
  background-image: url(../../images/icons/Icon-phone.svg);
}

.icon--burger {
  background-image: url(../../images/icons/icon-burger.svg);
}

.icon--close {
  background-image: url(../../images/icons/icon-close.svg);
}
