.product-card {
  display: flex;
  flex-direction: column;
  transition-duration: $trans-duration-base;

  @include on-laptop {
    &:hover {
      transform: scale(1.1);
    }
  }

  &__image {
    margin-bottom: 32px;
    object-fit: contain;
    height: 230px;

    @include on-tablet {
      height: 320px;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__description {
    @include p-text;

    margin-top: 0;
    margin-bottom: 16px;
  }

  &__price {
    font-weight: $letter-spacing-none;
    font-size: var(--fs-xl);
    line-height: $line-height-loose;
    letter-spacing: $letter-spacing-none;
  }
}
