.title {
  margin: 0;
  font-size: var(--fs-h1);
  font-weight: $font-weight-bold;
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-tight;

  &--section {
    text-align: center;
    margin-top: 0;
    margin-bottom: 48px;
    font-size: var(--fs-h2);
    font-weight: $font-weight-medium;
    line-height: $line-height-base;
    letter-spacing: $letter-spacing-tight;

    &--left {
      text-align: left;
    }
  }

  &--card {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: $font-weight-bold;
    font-size: var(--fs-h3);
    line-height: $line-height-loose;
    letter-spacing: $letter-spacing-none;
  }

  &--small {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: $font-weight-regular;
    font-size: var(--fs-h4);
    line-height: $line-height-loose;
    letter-spacing: $letter-spacing-none;
  }
}
