.body {
  margin: 0;
}

.header {
  background-image: url(../images/bacground-image.png);
  height: 100vh;
  background-size: cover;
  background-position: right;
}

.icon {
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.icon--phone {
  background-image: url(../images/icons/icon-phone.svg);
}

.icon--burger {
  background-image: url(../images/icons/icon-burger-menu.svg);
}


