$font-color-black: #000;
$font-color-light: #fff;
$font-color-light-hover: #cfcfcf;
$font-color-dark: #1d1d1d;
$font-color-placeholder: #7e7e83;
$font-color-input: #292929;
$bg-color-light: #c2c2c2;
$bg-color-dark: #1d1d1d;
$input-bg: #f8f8fa;
$btn-bg: #fff;
$btn-shadow: #e8e8f066;
$btn-shadow-light: #e8e8f0a3;
