:root {
  --block-gap: 92px;
  --card-gap: 40px;
  --btn-primary-height: 56px;
  --icon-size-md: 24px;
  --logo-width-md: 130px;
}

@include on-tablet {
  :root {
    --block-gap: 120px;
    --card-gap: 48px;
    --icon-size-md: 32px;
    --logo-width-md: 187px;
  }
}

@include on-laptop {
  :root {
    --block-gap: 160px;
  }
}

$border-radius-md: 16px;
$border-radius-lg: 40px;
