$font-family-base: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$line-height-base: 100%;
$line-height-loose: 140%;
$line-height-btn: 27px;
$line-height-input: 20px;
$letter-spacing-none: 0;
$letter-spacing-loose: 2px;
$letter-spacing-tight: -1.5px;

:root {
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 22px;
  --fs-xl: 24px;
  --fs-h1: 36px;
  --fs-h2: 32px;
  --fs-h3: 24px;
  --fs-h4: 14px;
}

@include on-tablet {
  :root {
    --fs-h1: 64px;
    --fs-h2: 48px;
  }
}

@include on-laptop {
  :root {
    --fs-h1: 80px;
    --fs-h2: 64px;
  }
}
